<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
  <title>Contract</title>
  <style>
    html, body {
      margin: 0;
      padding: 0;
    }
  </style>
</head>
<body>
  <%= render partial: 'printable', formats: [:html], locals: { contract: @contract } %>
</body>
</html>
