<!DOCTYPE html>
<html>
<head>
  <title>Contract</title>
  <style>
    body {
      width: 100%;
      background-color: #999;
    }

    .page-preview-wrapper {
      margin: 20px auto;
      width: 8.5in;
    }

    .page {
      background-color: #fff;
      padding: 30px 30px;
      height: 11in;

      margin-bottom: 50px;
    }
  </style>
</head>
<body>
  <div class="page-preview-wrapper">
    <%= render partial: 'api/v1/contracts/printable', locals: { contract: @contract } %>
  </div>
</body>
</html>
