<div class="row" ng-show='vm.me.user_type === "owner"'>
  <div class="col-lg-3 col-12">
    <div class="card hover-box-shadow" ng-click='vm.filter(null)'>
      <div class="d-flex">
        <div class="px-4 bg-light d-flex align-items-center border-right">
          <div class="px-3 text-danger text-size-7">
            <i class="material-icons">trending_down</i>
          </div>

        </div>
        <div class="media-body">
          <div class="text-center py-4 px-4">
            <h3> {{ vm.me.dealership.performance.loss_ratio }}% </h3>
            <p class="my-0 text-secondary">Loss Ratio</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="col-lg-3 col-12">
    <div class="card hover-box-shadow" ng-click='vm.filter(null)'>
      <div class="d-flex">
        <div class="px-4 bg-light d-flex align-items-center" style="border-right: 1px solid #eee">
          <div class="px-3 text-success text-size-7">
            <i class="material-icons">attach_money</i>
          </div>

        </div>
        <div class="media-body">
          <div class="text-center py-4 px-4">
            <h3> {{ (vm.me.dealership.performance.costs - vm.me.dealership.performance.claims - vm.me.dealership.performance.fees) / 100 | currency }} </h3>
            <p class="my-0 text-secondary">Amount in Reserve</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="col-lg-3 col-12">
    <div class="card hover-box-shadow" ng-class="{active: vm.externalFilter.filter === 'claimsThisMonth'}" ng-click='vm.filter("claimsThisMonth")'>
      <div class="d-flex">
        <div class="px-4 bg-light d-flex align-items-center" style="border-right: 1px solid #eee">
          <div class="px-3 text-danger text-size-7">
            <i class="material-icons">thumb_down</i>
          </div>

        </div>
        <div class="media-body">
          <div class="text-center py-4 px-4">
            <h3> {{ vm.me.dealership.performance.claims_this_month / 100 | currency }} </h3>
            <p class="my-0 text-secondary">Claims This Month</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-12">
    <div class="card hover-box-shadow" ng-class="{active: vm.externalFilter.filter ===
      'feesThisMonth'}" ng-click='vm.filter("feesThisMonth")'>
      <div class="d-flex">
        <div class="px-4 bg-light d-flex align-items-center" style="border-right: 1px solid #eee">
          <div class="px-3 text-success text-size-7">
            <i class="material-icons">attach_money</i>
          </div>

        </div>
        <div class="media-body">
          <div class="text-center py-4 px-4">
            <h3> {{ vm.me.dealership.performance.fees_this_month / 100 | currency }} </h3>
            <p class="my-0 text-secondary">Fees Owed This Month</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5 style='float:left'>Contracts</h5>

        <div class="mb-1 px-5">
          <a
            class="btn btn-sm btn-primary pull-right "
            href="/contracts/new?template={{ vm.me.dealership.templates[0].id }}"
            ng-if="vm.me.dealership.templates.length === 1">
            New Contract
          </a>

          <div class="btn-group pull-right" uib-dropdown dropdown-append-to-body ng-if="vm.me.dealership.templates.length > 1">
            <button type="button" class="btn btn-sm btn-primary" uib-dropdown-toggle>
              New Contract<span class="caret"></span>
            </button>
            <div class="dropdown-menu" uib-dropdown-menu role="menu">
              <a href="/contracts/new?template={{ template.id }}" class="dropdown-item"
                ng-repeat="template in vm.me.dealership.templates">
                {{ template.name }}
              </a>
            </div>
          </div>

          <div class="clearfix"></div>
        </div>

      </div>
      <div class="card-body px-0 pb-0">


        <contract-table filter="vm.externalFilter" dealership="vm.me.dealership"></contract-table>
      </div>
    </div>
  </div>
</div>
