{
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "google": true,
    "Stripe": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "accessor-pairs": ["error"],
    "array-callback-return": ["error"],
    "block-scoped-var": ["error"],
    "camelcase": 0,
    "comma-dangle": ["error", "never"],
    "comma-spacing": 2,
    "complexity": ["error", { "max": 43 }],
    "consistent-return": 2,
    "curly": ["error", "multi-line"],
    "default-case": ["off"],
    "dot-location": ["error", "property"],
    "dot-notation": ["error"],
    "eol-last": 2,
    "eqeqeq": ["error"],
    "guard-for-in": 2,
    "indent": ["error", 2, { "VariableDeclarator": 2, "MemberExpression": "off" }],
    "key-spacing": 2,
    "keyword-spacing": 2,
    "linebreak-style": [2, "unix"],
    "new-cap": 2,
    "new-parens": 2,
    "no-alert": 1,
    "no-array-constructor": 2,
    "no-caller": ["error"],
    "no-case-declarations": ["error"],
    "no-catch-shadow": ["error"],
    "no-cond-assign": ["error", "except-parens"],
    "no-console": 0,
    "no-constant-condition": ["error"],
    "no-control-regex": ["error"],
    "no-debugger": ["error"],
    "no-div-regex": ["error"],
    "no-dupe-args": ["error"],
    "no-dupe-keys": ["error"],
    "no-duplicate-case": ["error"],
    "no-else-return": ["error"],
    "no-empty": ["error"],
    "no-empty-character-class": ["error"],
    "no-empty-function": ["error", { "allow": ["functions"] }],
    "no-empty-pattern": ["error"],
    "no-eq-null": ["error"],
    "no-eval": ["error"],
    "no-ex-assign": ["error"],
    "no-extra-boolean-cast": ["error"],
    "no-extend-native": ["error"],
    "no-extra-bind": ["error"],
    "no-extra-parens": ["error", "functions"],
    "no-extra-semi": ["error"],
    "no-fallthrough": ["error", { "commentPattern": "[\\s\\w]" }],
    "no-floating-decimal": ["error"],
    "no-func-assign": ["error"],
    "no-implicit-coercion": ["error", { "allow": ["!!"] }],
    "no-implicit-globals": ["error"],
    "no-implied-eval": ["error"],
    "no-inner-declarations": ["error"],
    "no-invalid-regexp": ["error"],
    "no-invalid-this": ["off"],
    "no-irregular-whitespace": ["error"],
    "no-iterator": ["error"],
    "no-label-var": ["error"],
    "no-labels": ["error"],
    "no-lone-blocks": ["error"],
    "no-loop-func": ["error"],
    "no-magic-numbers": ["off"],
    "no-multi-str": 2,
    "no-native-reassign": 2,
    "no-negated-in-lhs": ["error"],
    "no-new": 2,
    "no-new-func": 2,
    "no-new-object": 2,
    "no-new-wrappers": 2,
    "no-obj-calls": ["error"],
    "no-octal-escape": 2,
    "no-process-exit": 2,
    "no-proto": 2,
    "no-regex-spaces": ["error"],
    "no-return-assign": 2,
    "no-script-url": 2,
    "no-sequences": 0,
    "no-shadow": 0,
    "no-shadow-restricted-names": 2,
    "no-spaced-func": 2,
    "no-sparse-arrays": ["error"],
    "no-trailing-spaces": 2,
    "no-undef": 2,
    "no-undef-init": 2,
    "no-underscore-dangle": 2,
    "no-unexpected-multiline": ["error"],
    "no-unreachable": ["error"],
    "no-unused-expressions": 0,
    "no-unused-labels": ["error"],
    "no-unused-vars": 2,
    "no-use-before-define": ["error", { "classes": true, "functions": false }],
    "no-with": 2,
    "quotes": ["error", "single", { "avoidEscape": true }],
    "semi": ["error", "never"],
    "semi-spacing": 2,
    "space-before-blocks": 2,
    "space-infix-ops": 2,
    "space-unary-ops": 2,
    "strict": 2,
    "use-isnan": ["error"],
    "valid-jsdoc": 2,
    "valid-typeof": ["error"],
    "yoda": 2
  }
}
