<div>
  <div class="mb-5 mx-5">
    <form>
      <input type="text" class="form-control" placeholder="Search by customer name, date, or VIN..."
                                              ng-model="vm.searchText" ng-change="vm.search()" autofocus />
<input date-range-picker class="form-control date-picker" type="text" ng-model="vm.date"
options='vm.datepickerOptions' placeholder='select a date range' />
      <label
        style='float:right;'
        class='checkbox-inline'>
        <input
          ng-change='vm.search()'
          ng-model='vm.unsigned'
          type='checkbox'>
        Only Unsigned Contracts</label>
              <label
        style='float:right;'
        class='checkbox-inline'
        ng-if='vm.admin'>
        <input
          ng-if='vm.admin'
          ng-change='vm.search()'
          ng-model='vm.unpaid'
          type='checkbox'>
        Only Unpaid Contracts</label>
    </form>
    <span><strong>Contract count:</strong> {{vm.contracts.length}}</span>
  </div>

  <table class="table table-middle table-material rt-md mb-0">
    <thead class="rt-table-hide">
      <tr>
        <th>Date</th>
        <th ng-hide="vm.dealership">Dealership</th>
        <th>Customer</th>
        <th>Cost</th>
        <th ng-if='vm.user.user_type !== "employee"'>Earned</th>
        <th>Vehicle</th>
        <th></th>
        <button style='float:right;' ng-if='vm.admin' ng-click="vm.savePaid()">Mark Paid</button>
        <button style='float:right;' ng-if='vm.admin' ng-click="vm.clearSelected()">Clear Selected</button>
      </tr>
    </thead>
    <tbody>
      <tr
        ng-repeat="contract in vm.contracts"
        ng-click="vm.selectRows($event, {contract: contract, ind: $index})"
        ng-class="{'table-yellow': vm.contractSelected(contract) }">
        <td class="rt-header">{{ contract.purchased_on | date:'MM/dd/yyyy' }}</td>
        <td class="rt-full" ng-hide="vm.dealership">{{ contract.dealership.name }}</td>

        <td class="rt-full">
          {{ contract.first_name }} {{ contract.last_name }} <br >
          <!-- <small>
            {{ contract.address1 }} <br >
            <span ng-if="contract.address2">{{ contract.address2 }} <br ></span>
            <span ng-if="contract.address3">{{ contract.address3 }} <br ></span>
            {{ contract.city }}, {{ contract.state }} {{ contract.zip }} <br >
          </small> -->
        </td>
        <td class="rt-full">{{ contract.cost | currency }}</td>
        <td class="rt-full" ng-if="vm.user.user_type !== 'employee'">{{ contract.matured | currency }}</td>

        <td class="rt-full">
          {{ contract.vin }} /
          {{ contract.year }} {{ contract.make }} {{ contract.model }}
        </td>
        <td class="rt-full text-right">
          <a href="/contracts/{{ contract.id }}">View</a> |
          <a href="/contracts/{{ contract.id }}/edit?dealership={{vm.dealership.id}}">Edit</a> |
          <a href="#" ng-confirm-click='do you really want to delete this contract?' confirmed-click="vm.deleteContract(contract)">Delete</a> |
          <a target="_blank" href="/api/v1/contracts/{{ contract.id }}.pdf">Print</a>

        </td>
      </tr>
      <tr ng-if="vm.contracts.length === 0">
        <td colspan="5">No contracts.</td>
      </tr>
    </tbody>
  </table>
</div>
