<form ng-submit="vm.save()">
  <ul class="nav nav-tabs nav-material" role="tablist">
    <li class="nav-item">
      <a href ng-class="{ active: vm.mode === 'config' }" ng-click="vm.mode = 'config'" class="nav-link" data-toggle="tab" role="tab" aria-selected="true">Config</a>
    </li>
    <li class="nav-item">
      <a href ng-class="{ active: vm.mode === 'preview' }" ng-click="vm.mode = 'preview';vm.updatePreview()" class="nav-link" data-toggle="tab" role="tab" aria-selected="true">Preview</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="p-5">
      <div ng-show="vm.mode === 'config'" ng-class="{ 'show active': vm.mode === 'config' }" class="tab-pane fade" role="tabpanel">
        <div class="form-group">
          <label>Name</label>
          <input class="form-control" ng-model="vm.template.name" />
        </div>

        <hr />

        <div ng-repeat="package in vm.template.packages">
          <div class="form-group">
            <label>Package {{ $index + 1 }} <a ng-click="vm.removePackage(package)" href class="text-danger">(remove)</a></label>
            <input class="form-control" ng-model="package.name" />
          </div>

          <div class="form-group row">
            <div class="col">
              <label>Coverage Levels</label>
              <div>
                <div class="mb-1" ng-repeat="coverage in package.coverages">
                  <div class="form">
                    Coverage
                    <select class="form-control mr-1" ng-model="coverage.length_in_months" ng-options="option.value as option.label for option in vm.terms"></select>
                    <br/>
                    Miles
                    <input class="form-control" ng-model="coverage.limit_in_miles" placeholder='100,000' /> 
                    <br/>
                    Reserve Amount: <input class="form-control" ng-model="coverage.amount" placeholder='$1000 RESERVE AMOUNT'
                    ng-currency />
                    <br/>
                    Fee:
                    <input class="form-control" ng-model="coverage.fee" placeholder='$1000 FEE' ng-currency />
                    <span class='checkbox-inline'> Up To: <input
                      class="form-control checkbox" type='checkbox' ng-model="coverage.up_to" /> </span>
                    <a href class="text-danger ml-2" ng-click="vm.removeCoverage(package, coverage)"><i class="material-icons">delete</i></a>
                  </div>
                </div>
                <button ng-click="vm.addCoverage(package)" type="button" class="btn btn-primary">+ Coverage</button>
              </div>
            </div>
            <div class="col">
              <label>Addons</label>
              <div>
                <div class="mb-1" ng-repeat="addon in package.addons">
                  <div class="form-inline">
                    <input class="form-control mr-1" ng-model="addon.name" placeholder="Roadside Assitance" />
                    <input ng-currency class="form-control" ng-model="addon.amount" placeholder="$100 RESERVE AMOUNT" />
                    <input ng-currency class="form-control" ng-model="addon.fee" placeholder="$100 FEE" />
                    <button type="button" class="btn btn-link" ng-click="vm.removeAddon(package, addon)"><i class="material-icons text-danger">delete</i></button>
                  </div>
                </div>
                <button ng-click="vm.addAddon(package)" type="button" class="btn btn-primary">+ Addon</button>
              </div>
            </div>
          </div>

          <textarea simplemde="{ spellChecker: false }" ng-model="package.terms"></textarea>

          <hr />
        </div>

        <button ng-click="vm.addPackage()" type="button" class="btn btn-primary">+ Package</button>

        <div class='form-group'>
          <label style='margin:0 auto;display:block;'>Terms and Conditions</label>
          <textarea simplemde="{ spellChecker: false }" ng-model="vm.template.terms"></textarea>
        </div>
      </div>



      <div ng-show="vm.mode === 'preview'" ng-class="{ 'show active': vm.mode === 'preview' }" class="tab-pane fade" role="tabpanel">
        <iframe template-preview="{{ vm.previewHTML }}"></iframe>
      </div>
    </div>
  </div>

  <hr />

  <div class="form-group">
    <div class="float-right">
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-link" ng-click="vm.cancel()">Cancel</button>
    </div>
  </div>
</form>
