@import 'variables';

contract-view {
  .signed-copy-drop {
    background-color: #fff;
    border: 2px dashed $gray-200;

    width: 100%;

    input[type=file] {
      display: none;
    }

    &.hovering {
      border-color: $brand;
      background-color: lighten($brand, 50%);

      color: $white;
    }
  }
}
