<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">
          <a class="btn btn-primary btn-sm mb-2 pull-right" href="/dealerships/{{ vm.dealership.id }}/edit">Edit</a>

          {{ vm.dealership.name }}
        </h1>
        <h5>{{ vm.dealership | address }}</h5>
      </div>
    </div>

    <div class="row">
      <div class="col-4">

        <div class="card">
          <div class="card-body">
            <div class="pb-3">
              <h4 class="card-title">
                Performance
              </h4>
              <p>Costs: {{ vm.dealership.performance.costs / 100 | currency }}</p>
              <p>Claims: {{ vm.dealership.performance.claims / 100 | currency }}</p>
              <p>Fees: {{ vm.dealership.performance.fees / 100 | currency }}</p>
              <p>In Reserve: {{ (vm.dealership.performance.costs - vm.dealership.performance.claims - vm.dealership.performance.fees) / 100 | currency }}</p>
              <p>Loss Ratio: {{ vm.dealership.performance.loss_ratio }}%</p>
            </div>
          </div>
        </div>

        <div class="card" ng-show="vm.isAdmin">
          <div class="card-body">
            <div class="pb-3">
              <h4 class="card-title">
                Templates
              </h4>
              <div ng-show="vm.dealership.templates.length === 0">
                No templates. <a href="/dealerships/{{vm.dealership.id}}/templates/new">Add one.</a>
              </div>
              <ul class="mb-0 pl-6" ng-show="vm.dealership.templates.length > 0">
                <li ng-repeat="template in vm.dealership.templates">
                  {{ template.name }} -
                  <a href="/templates/{{ template.id }}/edit">Edit</a> |
                  <a href="#" ng-click="vm.deleteTemplate(template)">Delete</a> |
                  <a target="_blank" href="/api/v1/templates/{{ template.id }}.pdf">Preview</a>
                </li>
                <li>
                  <a href="/dealerships/{{vm.dealership.id}}/templates/new">New Template</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="card" ng-show="vm.isAdmin">
          <div class="card-body">
            <div class="pb-3">
              <h4 class="card-title">
                Users
              </h4>
              <div ng-show="vm.dealership.users.length === 0">
                No users. <a href="/users/new?dealership={{ vm.dealership.id }}">Add one.</a>
              </div>
              <ul class="mb-0 pl-6" ng-show="vm.dealership.users.length > 0">
                <li ng-repeat="user in vm.dealership.users">
                  {{ user.first_name }} {{ user.last_name }} <small>({{ user.email }})</small> -
                  <a href="/users/{{ user.id }}/edit">Edit</a>
                </li>
                <li>
                  <a href="/users/new?dealership={{ vm.dealership.id }}">New User</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="card">
          <ul class="nav nav-tabs nav-material" role="tablist">
            <li class="nav-item">
              <a href ng-class="{ active: vm.view === 'contracts' }" ng-click="vm.view = 'contracts'" class="nav-link" data-toggle="tab" role="tab" aria-selected="true">Contracts</a>
            </li>
            <li class="nav-item">
              <a href ng-class="{ active: vm.view === 'claims' }" ng-click="vm.view = 'claims';vm.updatePreview()" class="nav-link" data-toggle="tab" role="tab" aria-selected="true">Claims</a>
            </li>
          </ul>

          <div ng-if='vm.view === "contracts"'>
            <div class="card-body px-0 pb-0">

              <div class="mb-1 px-5">
                <a class="btn btn-sm btn-primary pull-right " href="/contracts/new?template={{ vm.dealership.templates[0].id }}" ng-if="vm.dealership.templates.length === 1">
                  New Contract
                </a>

                <div class="btn-group pull-right" uib-dropdown dropdown-append-to-body ng-if="vm.dealership.templates.length > 1">
                  <button type="button" class="btn btn-sm btn-primary" uib-dropdown-toggle>
                    New Contract<span class="caret"></span>
                  </button>
                  <div class="dropdown-menu" uib-dropdown-menu role="menu">
                    <a href="/contracts/new?template={{ template.id }}" class="dropdown-item" ng-repeat="template in vm.dealership.templates">
                      {{ template.name }}
                    </a>
                  </div>
                </div>

                <div class="clearfix"></div>
              </div>

              <contract-table ng-if="vm.dealership" dealership="vm.dealership"></contract-table>

            </div>
          </div>

          <div ng-if='vm.view === "claims"'>
            <div class="card-body px-0 pb-0">

              <div class="mb-1 px-5">
                <claim-table ng-if="vm.dealership" dealership="vm.dealership"></claim-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
