<div class="full-page">
  <div class="sidebar-container">

    <aside class="sidebar sidebar-left sidebar-fixed sidebar-dark" ng-class="{ collapsed: vm.sidebarCollapsed }">

      <div class="scroll">
        <div class="sidebar-header text-white bg-brand">
        <div class="sidebar-brand d-flex justify-content-between align-items-center">
          <div class="title text-truncate">
            1<sup>st</sup> Secured Administrators
          </div>
          <div class="logo align-items-center justify-content-around">
            <img class="img-fluid" src="/favicon-96x96.png" />
          </div>
        </div>
      </div>
      <div class="sidebar-nav-container">
        <ul class="list-nav sidebar-nav list-nav-dark list-nav-dark-info">
          <li ng-repeat="item in vm.menu" ng-class="{ 'list-nav-group-title': item.isLabel, 'list-nav-item': !item.isLabel }">
            <span ng-if="item.isLabel">{{ item.label }}</span>

            <a ng-if="!item.isLabel && item.children" href="" class="list-nav-link">
              <span class="list-nav-icon">
                <i class="{{ item.icon.class }}">{{ item.icon.content }}</i>
              </span>
              <span class="list-nav-label">{{ item.label }}</span>
              <span class="list-nav-expand">
                <i class="material-icons">add</i>
              </span>
            </a>
            <ul ng-if="!item.isLabel && item.children" class="list-nav-child">
              <li ng-repeat="subitem in item.children" class="list-nav-item list-nav-child-item">
                <a href="{{ subitem.path }}" class="list-nav-link">
                  <span class="list-nav-icon list-nav-icon-sm">
                    <i class="material-icons">keyboard_arrow_right</i>
                  </span>
                  <span class="list-nav-label">{{ subitem.label }}</span>
                </a>
              </li>
            </ul>

            <a ng-if="!item.isLabel && !item.children" href="{{ item.path }}" class="list-nav-link">
              <span class="list-nav-icon">
                <i class="{{ item.icon.class }}">{{ item.icon.content }}</i>
              </span>
              <span class="list-nav-label">{{ item.label }}</span>
            </a>

          </li>
        </ul>
      </div>
      </div>
    </aside>

  </div>
  <div class="page" ng-class="{ 'no-sidebar': vm.sidebarCollapsed }">
    <div class="topbar-container">
      <nav class="navbar bg-white text-secondary navbar-expand-sm py-0 topbar fixed">
        <button class="btn btn-flat-secondary btn-sm btn-icon mr-1 no-shadow d-none d-xl-block sidebar-toggle" ng-click="vm.sidebarCollapsed = !vm.sidebarCollapsed">
          <i class="material-icons">menu</i>
        </button>
        <button class="btn btn-flat-secondary btn-sm btn-icon mr-1 d-xl-none no-shadow sidebar-hide" ng-click="vm.sidebarCollapsed = false">
          <i class="material-icons">menu</i>
        </button>

        <div class="navbar-text ml-3 d-none d-sm-block">
          <h5 class="m-0 text-dark"></h5>
        </div>

        <div class="ml-auto d-sm-flex">
          <div class="d-none d-sm-flex align-items-center">
            <input class="form-control collapsed topbar-search border-top-0 border-left-0 border-right-0 " type="search" placeholder="Search" aria-label="Search">
          </div>
          <ul class="navbar-nav">
            <!-- <li class="nav-item mr-3 d-none d-sm-block">
              <a class="nav-link text-center topbar-search-toggle" role="button">
                <i class="material-icons">search</i>
              </a>
            </li>
            <li class="nav-item dropdown no-caret mr-3">
              <a class="dropdown-toggle nav-link text-center" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">notifications_none</i>
                <span class="badge badge-warning">2</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right py-0" style="width:20rem" aria-labelledby="navbarDropdown">
                <ul class="list-group list-group-linked border-top-0 border-left-0 border-right-0 list-group-linked">
                  <li class="list-group-item">
                    <div class="px-3 py-3">
                      <h6 class="m-0">Notifications (<span class="text-warning">12</span>)</h6>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <a class="media py-2 px-3">
                      <div class="media-box media-box-xs rounded-circle bg-info text-white mt-1"><i class="material-icons">event</i></div>
                      <div class="media-body ml-3">
                        <p class="text-sm">
                          Alex has invited you to an event on<br>
                          <span class="text-secondary ">12 jan 2012</span>
                        </p>
                      </div>
                    </a>
                  </li>
                  <li class="list-group-item">
                    <a class="media py-2 px-3">
                      <div class="media-box media-box-xs rounded-circle bg-success text-white mt-1"><i class="material-icons">mail</i></div>
                      <div class="media-body ml-3">
                        <p class="text-sm">
                          New Company Policy for Holiday Season Parties<br>
                          <span class="text-secondary ">12 jan 2012</span>
                        </p>
                      </div>
                    </a>
                  </li>
                  <li class="list-group-item">
                    <a class="media py-2 px-3">
                      <div class="media-box media-box-xs rounded-circle bg-secondary text-white mt-1"><i class="material-icons">event</i></div>
                      <div class="media-body ml-3">
                        <p class="text-sm">
                          Your Leave application has been approved<br>
                          <span class="text-secondary ">12 jan 2012</span>
                        </p>
                      </div>
                    </a>
                  </li>

                  <li class="list-group-item text-center">
                    <a class="dropdown-item empty-link text-info px-3 py-3">Load More</a>
                  </li>
                </ul>
              </div>
            </li> -->
            <!-- <li class="nav-item dropdown no-caret mr-3">
              <a class="text-center dropdown-toggle nav-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">person_outline</i>
                <span class="badge badge-warning">2</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right py-0" style="width:20rem" aria-labelledby="navbarDropdown">
                <ul class="list-group border-top-0 border-left-0 border-right-0 list-group-linked">
                  <li class="list-group-item">
                    <div class="px-3 py-3">
                      <h6 class="m-0">Follow Requests (<span class="text-warning">12</span>)</h6>
                    </div>
                  </li>
                  <li class="list-group-item d-flex align-items-center justify-content-between py-1 px-3">

                      <div class="d-flex align-items-center">
                        <img src="http://via.placeholder.com/256x256" alt="Generic placeholder image" class="img-thumb-sm ml-1 mt-1">
                        <h6 class="ml-3 mb-0">James Kirk</h6>
                      </div>
                      <div>
                        <div class="py-1 px-1">
                          <button class="btn btn-sm btn-flat-info btn-fab"><i class="material-icons">done</i></button>
                          <button class="btn btn-sm btn-flat-secondary btn-fab"><i class="material-icons">clear</i></button>
                        </div>
                      </div>

                  </li>
                  <li class="list-group-item d-flex align-items-center justify-content-between py-1 px-3">

                      <div class="d-flex align-items-center">
                        <img src="http://via.placeholder.com/256x256" alt="Generic placeholder image" class="img-thumb-sm ml-1 mt-1">
                        <h6 class="ml-3 mb-0">Lt. Uhura</h6>
                      </div>
                      <div>
                        <div class="py-1 px-1">
                          <button class="btn btn-sm btn-flat-info btn-fab"><i class="material-icons">done</i></button>
                          <button class="btn btn-sm btn-flat-secondary btn-fab"><i class="material-icons">clear</i></button>
                        </div>
                      </div>

                  </li>
                  <li class="list-group-item d-flex align-items-center justify-content-between py-1 px-3">

                      <div class="d-flex align-items-center">
                        <img src="http://via.placeholder.com/256x256" alt="Generic placeholder image" class="img-thumb-sm ml-1 mt-1">
                        <h6 class="ml-3 mb-0">Tiberius Kirk</h6>
                      </div>
                      <div>
                        <div class="py-1 px-1">
                          <button class="btn btn-sm btn-flat-info btn-fab"><i class="material-icons">done</i></button>
                          <button class="btn btn-sm btn-flat-secondary btn-fab"><i class="material-icons">clear</i></button>
                        </div>
                      </div>

                  </li>

                  <li class="list-group-item text-center">
                    <a class="dropdown-item empty-link text-info px-3 py-3">Load More</a>
                  </li>

                </ul>
              </div>
            </li>
            <li class="nav-item dropdown no-caret">
              <a class="text-center dropdown-toggle nav-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">mail_outline</i>
                <span class="badge badge-warning">2</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right py-0" style="width:19rem" aria-labelledby="navbarDropdown">
                <ul class="list-group border-top-0 border-left-0 border-right-0 list-group-linked">
                  <li class="list-group-item">
                    <div class="px-3 py-3">
                      <h6 class="m-0">Messages (<span class="text-warning">12</span>)</h6>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <a href="" class="media py-2 px-3">
                      <img src="http://via.placeholder.com/256x256" alt="Generic placeholder image" class="img-thumb ml-1 mt-1">
                      <div class="media-body ml-3" style="overflow:hidden">
                        <h6 class="mt-1 mb-1">James Kirk</h6>
                        <p class="text-secondary text-sm text-truncate mb-1">
                          Problems look mighty small from 150 miles up.
                        </p>
                      </div>
                    </a>
                  </li>
                  <li class="list-group-item">
                    <a href="" class="media py-2 px-3">
                      <img src="http://via.placeholder.com/256x256" alt="Generic placeholder image" class="img-thumb ml-1 mt-1">
                      <div class="media-body ml-3" style="overflow: hidden">
                        <h6 class="mt-1 mb-1">Ambassador Spock</h6>
                        <p class="text-secondary  text-sm text-truncate mb-1">
                          Problems look mighty small from 150 miles up.
                        </p>
                      </div>
                    </a>
                  </li>
                  <li class="list-group-item">
                    <a href="" class="media py-2 px-3">
                      <img src="http://via.placeholder.com/256x256" alt="Generic placeholder image" class="img-thumb ml-1 mt-1">
                      <div class="media-body ml-3" style="overflow: hidden">
                        <h6 class="mt-1 mb-1">Nyota Uhur</h6>
                        <p class="text-secondary  text-sm text-truncate mb-1">
                          Problems look mighty small from 150 miles up.
                        </p>
                      </div>
                    </a>
                  </li>
                  <li class="list-group-item text-center">
                    <a class="dropdown-item empty-link text-info px-3 py-3">Load More</a>
                  </li>

                </ul>
              </div>
            </li>
            <li class="nav-item d-none d-md-block ml-3">
              <a  class="nav-link toggle-settings" role="button">
                <i class="material-icons">settings</i>
              </a>
            </li> -->
            <li class="nav-item no-caret ml-4 dropdown" uib-dropdown dropdown-append-to-body>
              <a class="text-xs nav-link" role="button" uib-dropdown-toggle>
                <img src="http://via.placeholder.com/256x256" class="img-thumb-xs mr-1 align-middle"  alt="">
                <i class="material-icons">expand_more</i>
              </a>
              <div class="dropdown-menu dropdown-menu-right py-0" uib-dropdown-menu>
                <a class="dropdown-item empty-link" href="/sign_out">Log Out</a>
              </div>
            </li>


          </ul>
        </div>

      </nav>


    </div>
    <div class="page-content" ng-view></div>
  </div>
</div>
