<div class="card">
  <div class="card-body">
    <a class="btn btn-primary btn-sm pull-right" href="/dealerships/{{ vm.contract.dealership.id }}/contracts/{{ vm.contract.id }}/edit">Edit</a>
    <h1 class="card-title">
      <a href="/dealerships/{{ vm.contract.dealership.id }}">{{ vm.contract.dealership.name }}</a> > {{ vm.contract.first_name }} {{ vm.contract.last_name }} ({{ vm.contract.vin }})
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <div class="py-3">
          <div class="row">
            <div class="col-6">
              <ul class="list-unstyled">
                <li>{{ vm.contract.first_name }} {{ vm.contract.last_name }}</li>
                <li>{{ vm.contract.address1 }}</li>
                <li>{{ vm.contract.address2 }}</li>
                <li>{{ vm.contract.address3 }}</li>
                <li>{{ vm.contract.city }}, {{ vm.contract.state }} {{ vm.contract.zip }}</li>
              </ul>

              <ul class="list-unstyled">
                <li ng-bind-html="vm.contract.email | email"></li>
                <li ng-show="vm.contract.mobile_number">Cell: {{ vm.contract.mobile_number | phone }}</li>
                <li ng-show="vm.contract.home_number">Home: {{ vm.contract.home_number | phone }}</li>
                <li ng-show="vm.contract.work_number">Work: {{ vm.contract.work_number | phone }}</li>
              </ul>
            </div>
            <div class="col-6">
              <ul class="list-unstyled">
                <li>{{ vm.contract.year }} {{ vm.contract.make }} {{ vm.contract.model }}</li>
                <li>{{ vm.contract.vin }}</li>
              </ul>
            </div>
          </div>
          <p>Purchased on {{ vm.contract.purchased_on | date:'MM/dd/yy' }} with {{ vm.contract.odometer | number }} miles.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <div class="py-3">
          <p>Covered until {{ vm.contract.matures_on | date: 'MM/dd/yy' }} or {{ vm.contract.coverage.limit_in_miles | number }} miles.</p>
          <div ng-if="vm.contract.addons.length > 0">
            <label>Addons:</label>
            <ul>
              <li ng-repeat="addon in vm.contract.addons">
                {{ addon.name }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
