<div class="card">
  <div class="card-body">
    <a class="btn btn-primary btn-sm pull-right" ng-if='vm.isAdmin' href="/claims/{{vm.claim.id}}/edit">Edit</a>
    <h1 class="card-title">
      <a href="/contracts/{{ vm.claim.contract.id }}">{{ vm.claim.contract.vin }}</a> > {{
      vm.claim.contract.first_name }} {{ vm.claim.contract.last_name }}
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <ul class="list-unstyled">
              <li><strong>Name:</strong> {{ vm.claim.contract.first_name }} {{ vm.claim.contract.last_name }}</li>
              <li><strong>Location: </strong>{{ vm.claim.location }}</li>
              <li><strong>Issue: </strong>{{ vm.claim.issue }}</li>
              <li><strong>Authorized: </strong>{{vm.claim.authorized_at ? vm.claim.authorized_at :
                'No' }}</span></li>
              <li><strong>Paid Out: </strong>{{ vm.claim.cost ? '$'.concat(vm.claim.cost) : '' }}</li>
              <li><strong>Repaired On: </strong>{{ vm.claim.repaired_at ? vm.claim.repaired_at :
                'N/A' }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <strong>Shop</strong>
            <ul class="list-unstyled">
              <li><strong>Name:</strong> {{ vm.claim.shop_name }}</li>
              <li><strong>Address: </strong>{{ vm.claim.shop_address }}</li>
              <li><strong>Rep: </strong>{{ vm.claim.shop_rep }}</li>
              <li><strong>Number: </strong>{{vm.claim.shop_phone }}</span></li>
              <li><strong>Notes: </strong>{{vm.claim.shop_notes }}</span></li>

            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card" ng-show="vm.claim.attachment">
      <div class="card-body">
        <a target="_blank" href="{{ vm.claim.attachment }}"><i
            class="material-icons">file_download</i> Download Attachment</a>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="signed-copy-drop mb-4 p-8 text-center" file-upload="vm.uploadFile($data)"
      ng-hide="vm.claim.attachment">
      <input type="file" />

      <h4 class="mb-4 font-weight-bold">
        <i class="material-icons">error_outline</i>
        Attachment Missing
      </h4>

      <p class="m-0">There is no signed copy of the contract on file. Please <a href>select one</a> or drop it here.</p>
    </div>
  </div>
</div>
