quote-form {
  .package {
    position: relative;
  }

  .package-name {
    position: absolute;
    left: 0;top: 0;
  }

  label {
    margin-right: 10px;
  }

  .coverage-and-addons {
    padding-left: 100px;
  }
}
