<form ng-submit="vm.save()" novalidate>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class='col-6 form-group'>
          <label class='form-label'>Customer</label>
          <div class="form-control-static"><strong>Full Name:</strong> {{ vm.claim.contract.first_name + ' ' +
            vm.claim.contact.last_name }}</div>
          <div class='form-control-static'><strong>Phone:</strong> {{vm.claim.contract.mobile_number}}</div>
        </div>
        <div class='col-6 form-group'>
          <label class='form-label'>Car</label>
          <div class="form-control-static"><strong>Model:</strong> {{ vm.claim.contract.model || '&nbsp;' }}</div>
          <div class="form-control-static"><strong>Make:</strong> {{ vm.claim.contract.make || '&nbsp;' }}</div>
          <div class="form-control-static"><strong>Year:</strong> {{ vm.claim.contract.year }}</div>
          <div class="form-control-static"><strong>VIN:</strong> {{ vm.claim.contract.vin }}</div>
        </div>
        </div>

      <div class="form-group">
        <label>Authorization Number</label>
        <input class="form-control" ng-class="{ 'is-invalid':
        vm.claims.errors.authorization_number }" ng-model="vm.claim.authorization_number" />
      </div>

      <div class="form-group">
        <label>Odometer</label>
        <input type="number" min="0" class="form-control" ng-class="{ 'is-invalid':
        vm.claims.errors.odometer }" ng-model="vm.claim.odometer" />
      </div>

      <div class="form-group">
        <label>Issue</label>
            <input class="form-control" ng-class="{ 'is-invalid': vm.claim.errors.issue }"
            ng-model="vm.claim.issue" type='textarea' />
      </div>

      <div class="form-group">
        <label>Location</label>
            <input class="form-control" ng-class="{ 'is-invalid': vm.claim.errors.location }"
            ng-model="vm.claim.location" type='textarea' />
      </div>

      <hr />

      <div class="form-group">
        <label>Shop</label>
        <hr />
        <label>Name</label>
        <input class="form-control" ng-model="vm.claim.shop_name" />

        <label>Address</label>
        <input class="form-control" ng-model="vm.claim.shop_address" />

        <label>Representative</label>
        <input class="form-control" ng-model="vm.claim.shop_rep" />

        <label>Phone</label>
        <input class="form-control" ng-model="vm.claim.shop_phone" />

        <label>Notes</label>
        <textarea class="form-control" ng-model="vm.claim.shop_notes" ></textarea>
      </div>
      <hr />
      <br >
      <div class='form-group'>
        <label>Authorization: </label>
        <hr />
        <label>Date</label>
        <input class="form-control" ng-model="vm.claim.authorized_at" type='date' />

        <label>Amount</label>
        <input class="form-control" ng-model="vm.claim.cost" ng-currency />

        <label>Repaired Date</label>
        <input class="form-control" ng-model="vm.claim.repaired_at" type='date' />
      </div>
      </div>
    </div>
  </div>

  <hr />

  <div class="form-group">
    <div class="float-right">
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" ng-click="vm.cancel()" class="btn btn-link">Cancel</button>
    </div>
  </div>
</form>
