<div ng-if='vm.isAdmin && vm.edit === true' class='float-right'>
  <div ng-click='vm.view !== "password" ? vm.view = "password" : vm.view = "form"' class='btn
    btn-primary'>{{ vm.view === 'form' ? 'Change Password' :
    'Edit User'}}</div>
</div>
<div ng-if='vm.view === "form"'>
<form ng-submit="vm.save()">
  <div class="form-group row">
    <div class="col">
      <label>First Name</label>
      <input class="form-control" ng-model="vm.user.first_name" />
    </div>
    <div class="col">
      <label>Last Name</label>
      <input class="form-control" ng-model="vm.user.last_name" />
    </div>
  </div>

  <div class="form-group">
    <label>Email</label>
    <input class="form-control" ng-model="vm.user.email" />
  </div>
  <div class="form-group" ng-show='vm.edit === false'>
    <label>Password</label>
    <input class="form-control" type="password" ng-model="vm.user.password" />
  </div>
  <div className='form-group' ng-show='!vm.me.dealership'>
    <label>Dealership</label>
    <select
      ng-model='vm.user.dealership'
      ng-options='dealership as dealership.name for dealership in vm.dealerships track by
                                                dealership.id'>
      <option value="">Admin</option></select>
  </div>
  <div className='form-group' ng-show='!vm.me.dealership || vm.me.user_type === "owner"'>
    <label>User Type:</label>
    <select
      ng-model='vm.user.user_type'
      ng-options='user_type as user_type for user_type in vm.user_types'>
    <option value="admin">Admin</option></select>
  </div>
  <div class="form-group">
    <div class="float-right">
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-link" ng-click="vm.cancel()">Cancel</button>
    </div>
  </div>
</form>
</div>
<div ng-if='vm.view === "password"'>
  <form ng-submit="vm.savePassword()">
    <div class='form-group'>
      <input class='form-control' type='password' ng-model='vm.changed_password' />
    </div>
  <div class="form-group">
    <div class="float-right">
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-link" ng-click="vm.cancel()">Cancel</button>
    </div>
  </div>
  </form>
</div>
